{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Buscar Cartas</title>
  <link rel="stylesheet" href="{% static 'css/BuscarCards.css' %}">
</head>
<body>

  <!-- ===== Navbar ===== -->
  <nav class="navbar">
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="#">Buscar Cartas</a></li>
      <li><a href="{% url 'deck' %}">Meu Deck</a></li>
    </ul>
  </nav>

  <!-- ===== Conteúdo ===== -->
   <main>
    <h1>Buscar Cartas</h1>

    <input type="text" id="input-busca" placeholder="Digite o nome da carta (mín. 3 letras)...">

    <div id="cards-container" class="cards-container">
      <!-- Resultado da busca será exibido aqui -->
    </div>


  </main>
  <script src="{% static 'js/BuscarCards.js' %}"></script>
</body>
</html>
