{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>BuscaCard</title>
  <link rel="stylesheet" href="{% static 'css/BuscarCards.css' %}">
</head>
<body>

  <nav class="menu-topo">
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'BuscaCard' %}">Buscar Carta</a></li>
      <li><a href="#">Deck</a></li>
      <li class="dropdown">
        <button class="dropbtn">Cartas 🂠</button>
        <div class="dropdown-content" id="lista-carrinho">
          <p style="color: #fffbe6;">Nenhuma carta adicionada.</p>
          <button class="botao" onclick="enviarCartas()">Enviar Cartas</button>
        </div>
      </li>
    </ul>
  </nav>
  
  
  <div class="menu-topo">
    
  </div>

  <!-- CAMPO DE BUSCA -->
  <input type="text" id="busca" placeholder="Buscar cartas..." oninput="buscarCartas()">

  <!-- RESULTADO DOS CARDS -->
  <div class="cards-container" id="cards"></div>

  <script src="{% static 'js/BuscarCards.js' %}"></script>
</body>
</html>
