{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>

  <!-- ===== Navbar ===== -->
  <nav class="navbar">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="{% url 'BuscaCard' %}">Buscar Cartas</a></li>
      <li><a href="{% url 'deck' %}">Meu Deck</a></li>

    </ul>
  </nav>

  <!-- ===== Conteúdo da Home ===== -->
  <div class="home-container">
    <h1>Bem-vindo ao Deck Builder YGO</h1>
    <p>Monte, gerencie e imprima seus decks de Yu-Gi-Oh! com facilidade. Use as ferramentas abaixo para começar.</p>
    <!--<li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'BuscaCard' %}">Buscar Carta</a></li>
      <li><a href="#">Deck</a></li>-->
    <div class="home-buttons">
      <a href="{% url 'BuscaCard' %}" class="home-btn">🔍 Buscar Cartas</a>
      <a href="{% url 'deck' %}" class="home-btn">🃏 Meu Deck</a>
    </div>
  </div>

</body>
</html>
