{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Resumo das Cartas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="#">
  <!--Fonte e link CSS-->
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/resumo.css' %}">
</head>
<body>
  <nav class="menu-topo">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="{% url 'BuscaCard' %}">Buscar Carta</a></li>
      <li><a href="{% url 'deck' %}">Deck</a></li>
    </ul>
  </nav>
  
  <h1>Resumo das Cartas Selecionadas</h1>
  <div id="resumo-cartas"></div>

  <script src="{% static 'js/resumo.js' %}"></script>
</body>
</html>
